* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  min-height: 100vh;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1rem;
  grid-template-areas:
  "header"
  "main"
  "footer";
}
 
#app > header {
  grid-area: header;
}

.header {
  background-color: var(--bs-gray-dark);
  min-height: 3rem;
  padding: 0.5rem 10%;
}

.header button {
  min-width: 6rem;
  min-height: 2rem;
}

.header button:hover {
  background-color: var(--bs-gray-700);
  border-radius: 0.3rem;
}

#app > main {
  grid-area: main;
}
.main {
  margin: 3rem 20%;
}
 
#app > footer {
  grid-area: footer;
}

@media screen and (max-width:720px){
  .main {
    margin: 0rem 1rem;
  }
}

/* Home */
.home-section {
}

/* login.html nd regiter.html related */
.form-section {
  width: 100%;
  padding: 0 30% !important;
}
.form-section label {
  width: 100%;
  margin-top: 0.5rem;
}
.form-section input {
  width: 100%;
}
.form-section button {
  width: 100%;
  margin: 1.5rem 0rem;
}

/* Utils */
.row-between {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row-around {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column-center {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
