* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  min-height: 100vh;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1rem;
  grid-template-areas:
  "header"
  "main"
  "footer";
}
 
#app > header {
  grid-area: header;
}
.header {
  background-color: var(--bs-gray-dark);
  padding: 0.5rem 10%;
}

.header button {
  min-width: 8rem;
  min-height: 2rem;
}
.header button:hover {
  background-color: var(--bs-gray-700);
  border-radius: 0.3rem;
}

#app > main {
  grid-area: main;
  margin: 0rem 20%;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
 
#app > footer {
  grid-area: footer;
}


/* about.html related */

/* login.html related */
.login-section {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1rem;
  grid-template-areas:
  "header"
  "main"
  "footer";
}
.login-section >  label,input {
  width: 100%;
}

/* register.html related */

/* Utils */

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
