<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="/static/styles/index.css"> -->
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <div class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  {{range .LeftNav}}
                    {{.}}
                  {{end}}
                </div>
              </div>
            </div>
            <div class="flex items-center">
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  {{range .RightNav}} {{.}} {{end}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <header></header>
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div 
            id="main" 
            hx-get="/home" 
            hx-trigger="load"
            class="bg-white rounded-lg shadow mx-auto max-w-7xl px-4 py-6 my-6 sm:px-6 lg:px-8"
          ></div>
        </div>
      </main>
    </div>
    <footer class="sticky bottom-0 bg-white shadow dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-2 md:flex md:items-center md:justify-between">
        <span class="w-full text-sm tes text-gray-500 sm:text-center dark:text-gray-400">2024. Made by Nicholas Cristofaro. </span>
      </div>
    </footer>
  </body>
</html>
