{{- if or (not .Values.jwt.existingSecret) (and (not .Values.postgresql.enabled) (not .Values.externalPostgresql.existingSecret)) (and (not .Values.redis.enabled) .Values.externalRedis.password (not .Values.externalRedis.existingSecret)) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gode.fullname" . }}-secret
  labels:
    {{- include "gode.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if not .Values.jwt.existingSecret }}
  JWT_SECRET: {{ required "jwt.secret is required when jwt.existingSecret is not set" .Values.jwt.secret | quote }}
  {{- end }}
  {{- if and (not .Values.postgresql.enabled) (not .Values.externalPostgresql.existingSecret) }}
  DB_PASSWORD: {{ .Values.externalPostgresql.password | quote }}
  {{- end }}
  {{- if and (not .Values.redis.enabled) .Values.externalRedis.password (not .Values.externalRedis.existingSecret) }}
  REDIS_PASSWORD: {{ .Values.externalRedis.password | quote }}
  {{- end }}
{{- end }}
