<div class="column-center">
  <h2> Login into your account </h2>
  <form hx-post="/account/login" class="column-center form-section">
    <label for="email-input" class="form-label">Email address</label>
    <input type="email" 
      class="form-control" 
      id="email-input" 
      placeholder="name@example.com">
    <label for="password-input" class="form-label">Password</label>
    <input type="password" 
      class="form-control" 
      id="password-input" 
      placeholder="password">
    <button type="submit" class="btn btn-secondary">Log in</button>
  </form>
</div>
